.projects {
    width: 100%;
    background-color: #f1f5f8;
    padding: 80px 0;
}

.projects__holder {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    position: relative;
    &:hover {
        .projects__image-holder  {
            &::after {
                opacity: 0;
            }
        }
    }
}

.projects__item {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
}

.projects__heading {
    text-align: center;
}

.projects__image-holder {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-height: 500px;
    grid-column: 1/span 8;
    grid-row: 1/1;
    border-radius: 8px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right,#2caeba,#222);
        opacity: 0.70;
        transition: var(--transition);
    }
}

.projects__info {
    z-index: 1;
    grid-column: 5/12;
    grid-row: 1/1;
    background-color: white;
    padding: 16px 32px;
    border-radius: 8px;
}

.project__info-id {
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    color: #2caeba;
    margin-bottom: 0.75rem;
}

.project__info-heading {
    font-size: 25px;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: #102a42;
    transition: var(--transition);
}

.project__info-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1.25rem;
    color: #4b4b4b;
}

.projects__tags {
    display: flex;
    flex-wrap: wrap;
}

.projects__tag {
    background-color: #2caeba46;
    color: #4b4b4b;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    &:last-child {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .projects__holder {
        display: block;
    }
    .projects__info {
        padding: 10px 10px;
    }
    .projects__image-holder {
        max-height: 309px;
        &::after {
            display: none;
        }
    }
}