@import '../../Helper/variarble.scss';

.about {
    background-color: #f1f5f8;
    .underline {
        position: relative;
    }
}

.about__holder {
    padding: 50px 0;
}

.about__content {
    padding: 0 50px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    column-gap: 4rem;
    min-height: calc(100vh - 549px);
}

.about__img-holder {
    grid-column: 1/span 5;
}

.about__article {
    grid-column: 6/-1;
}

.about__article-text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #102a42;
}

.about__title {
    position: relative;
    font-size: 30px;
    color: #102a42;
    margin: 0 auto 12px auto;
    font-size: 40px;
    line-height: 44px;
    width: max-content;
}

.about__tags {
    display: flex;
    flex-wrap: wrap;
}

.about__tag {
    background-color: #2caeba46;
    color: #4b4b4b;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    &:last-child {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .about__inner {
        display: block;
    }
    .about__img-holder {
        width: 50vw;
        margin: 0 auto 50px auto;
    }
}

@keyframes fade {
    0% ,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}