@import '../../Helper/variarble.scss';

.about__holder {
    padding: 50px 0;
}

.about__content {
    padding: 0 50px;
}

.about__title {
    position: relative;
    font-size: 30px;
    color: $primary;
    margin: 0 auto;
    margin-bottom: 48px;
    width: max-content;
    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 2px;
        background-color: $primary;
        animation: fade 3s infinite;
    }
}

.about__text {
    font-size: 16px;
    line-height: 22px;
    font-weight: $bold;
    color: $primary;
    width: 50%;
    margin: 0 auto;
}

.about__img-holder {
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.about__img {
    width: 100%;
    height: 100%;
}

@keyframes fade {
    0% ,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}