.footer {
    width: 100%;
    background-color: #222;
    padding: 30px 0;
}

.footer__holder {
    position: relative;
}

.footer__logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
}

.footer__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.footer__social-item {
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}

.footer__social-link {
    font-size: 32px;
    color: #fff;
    transition: var(--transition);
    &:hover {
        color:  #2caeba;
    }
}

.footer__info {
    text-align: center;
    color: #fff;
}